.photo_import_menu {
    height: 8vh;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: rgba(117, 113, 113, 0.87);
    border: 1px solid black;
    border-radius: 6px;
}

input {
    overflow: hidden;
}

label:hover {
    cursor: pointer;
}