.workspace {
    overflow: hidden;
    margin: 1vh 2vh 0 2vh;
    background-color: rgba(117, 113, 113, 0.87);
    border: 1px solid black;
    border-radius: 6px;
    line-height: 77.4vh;
    text-align: center;
}

img {
    display: inline-block;
    max-width: 55vw;
    max-height: 60vh;
}

.rotate:hover {
    cursor: grab;
}